version: '3'

services:
  web:
    build: .
    command:
      bash -c "uvicorn main:course_app --host 0.0.0.0 --port 8000"
    volumes:
      - .:/course_app
      - static_volume:/course_app/static
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/course_app/static
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
